.cor-navbar{
    background-color:  #A6A6A6!important;
}

.margin{
    margin: 20px 0px 0px 50px;
}

.fonte{
    font-family: 'Cairo', sans-serif;
    font-variant: initial;
    color:#826776;
    font-weight: "bold"
}